body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar-principal {
    background-color: #005f99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar-enlaces {
    list-style: none;
    display: flex;
}

.navbar-enlaces li {
    margin: 0 15px;
}

.navbar-enlaces a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s;
    display: flex;
    align-items: center;
}

.navbar-enlaces a i {
    margin-right: 8px;
}

.navbar-enlaces a:hover {
    background-color: #007acc;
    transform: scale(1.05);
}

.navbar-enlaces a:active {
    background-color: #004f80;
}
